
<div class="wrapper">
  <div class="box register">
    <p> 1. Register </p>
    <%= image_tag('sign-up.png') %>
  </div>
  <div class="box takeTest">
    <p> 2. Personality Test </p>
    <%= image_tag('pTest.png') %>
  </div>
  <div class="box chooseActivities">
    <p> 3. Choose Activities </p>
    <%= image_tag('chooseActivities.png') %>
  </div>
  <div class="box getMatches">
    <p> 4. Get Matches </p>
    <%= image_tag('friendsBlue.png') %>
  </div>

</div>

<div id="modal">
    <!-- modal box content -->
    <div class="register">
        <h2>Register</h2>

      <%= form_for :register, url: register_index_path, method: :post do |f| %>

      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true %>
      </div>


      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password, "Password" %><br />
        <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
      </div>

      <%= f.submit "Register"%>

    <% end %>
  </div>

</div>
