
<div class='assessment'></div>
<script>
  Traitify.setPublicKey('<%=ENV["PUBLIC_KEY"]%>');
  Traitify.setHost("https://api-sandbox.traitify.com");
  Traitify.setVersion("v1");
  traitify = Traitify.ui.load('<%= @assessment.id %>', ".assessment", {slideDeck: {showResults: false}})
  traitify.slideDeck.onFinished(function(){
    'session[:user_id]'
    '<%= session[:user_id]%>'
    '<%= User.find(session[:user_id]).email %>'
    '<%= @assessment.id%>'
    var path = "<%= user_personality_path%>"
  $.ajax({
    method: "POST",
    url: path,
    data: {id: '<%= @assessment.id%>'},
    success: function() {
    alert("Done!!");
    }
  })})
</script>
