<div class="loginContainer chatWrap">
  <header>
    <div class="circles">
        <span class="circle"></span>
        <span class="circle"></span>
        <span class="circle"></span>
      </div>
      <%= image_tag('chat.png') %>
  </header>
  <h2>Chat</h2>
  <div class="messageArea loginForm">
    <section id='messages'></section>
    <div class="userInput">
      <textarea name='message'></textarea>
    </div>
    <div class="chatButton">
      <button>Send</button>
    </div>

  </div>
</div>
<div class='channelGroup'>
  <% @personalities.each do |personality| %>
    <button class='<%=personality%>Channel' name='<%=personality%>'><%=personality%></button>
  <%end%>
</div>
<script>
  $(document).ready(function(){
    MakeChannel('<%=@userPtype.name%>','<%=session[:user_id]%>')
    $('#send').on('click',function(e){
      if($('textarea').val() !== ''){
        e.preventDefault()
        App.chat.speak($('textarea').val())
        $('textarea').val('')
      }
    })
    $('textarea').keyup(function(e){
      if(e.which === 13 && $('textarea').val() !== ''){
        App.chat.speak($('textarea').val())
        $('textarea').val('')
      }
    })
    $('.channelGroup>button').on('click',function(e){
      e.preventDefault()
      MakeChannel(e.target.name,'<%=session[:user_id]%>')
      $('textarea').val('')
    })
  });
  </script>
