

<div class="wrapper loginWrapper">
  <div class="loginContainer">
    <header>
      <div class="circles">
        <span class="circle"></span>
        <span class="circle"></span>
        <span class="circle"></span>
      </div>
      <%= image_tag('tinyLogo.png') %>
    </header>
      <h2>Login</h2>
    <div class="loginForm">

      <%= form_for :login, url: login_index_path do |f| %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password, "Password" %><br />
          <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
        </div>


        <%= f.submit "Login", method: :post %>


      <% end %>
      </div>
      </div>
</div>

