<div class='container'>
  <h2 class='center'>Login</h2>
  <div class="row">
  <%= form_for :login, url: login_index_path do |f| %>
    <div class="row">
      <div class="browser-default col m6">
        <%= f.label :email %><br />
        <%= f.email_field :email,class: 'browser-default blue-grey lighten-5', autofocus: true %>
      </div>
      <div class="browser-default col m6">
        <%= f.label :password, "Password" %><br />
        <%= f.password_field :password,class: 'browser-default blue-grey lighten-5', autofocus: true, autocomplete: "off" %>
      </div>
    </div>
    <div class="row">
      <%= f.submit "Login", method: :post, class: 'btn' %>
    </div>
  <% end %>
</div>
