<% content_for :nav_assessment_class do %>
  <%= assessment_css(@user) %>
<% end %>

<div class="profileWrapper <%= assessment_css(@user) %>">
<div class="inner">
    <div class="typeWrapper">



       <h1><%= @user.name %></h1>
       <%= image_tag 'https://traitify-api.s3.amazonaws.com/badges/' + @user.result.personalities.first.name.downcase + '/flat/large'%>
       <h2> Personality Type </h2>
       <h3><%= @user.result.personalities.first.name %></h3>
       <h4><%= @user.result.personalities.first.score.ceil %></h4>
       <h4><%= @assessment.personality_types.first.personality_type.description %></h4>

       <h4> Famous person with same personality - <%= @assessment.personality_types.first.personality_type.famous_people.first.name %></h4>

       <h2> Personality Trait </h2>
       <h3> <%= @traits.name %>  </h3>
    </div>

    <div class="activityWrapper">

      <%= form_tag profile_index_path(@user) do %>

      <h2>Activities for <%= @user.result.personalities.first.name %></h2>

        <% @activities.each do |activity| %>
          <% if activity.personality_type == @user.result.personalities.first.name %>


              <div class="checkContainer">
                <!-- <div class="squaredTwo"> -->


                <label class="checkbox">
                   <%= check_box_tag "activity[#{activity.name}]", "#{activity.id}", false, class: 'checkbox_input' %>
                   <div class="checkbox_box"></div>
                   <%= activity.name %>
                 </label>

                </div>




          <% end %>
        <% end %>
      <%= submit_tag :save %>
      <% end %>
      </div>
    </div>

  <div class="matchesWrapper">
    <div class="headline">
      <h2> Matches </h2>
    </div>
          <% if @matches %>
          <% User.all().each do |match|  %>
            <%puts match %>
            <div class="matchesInner">
              <h3 class="matchName"><%= match.name %></h3>
              <h4><%#= match.result.personalities.first.name %></h4>
              
              <h3>Personality Trait<h3>
              <h4><%#= match.result.traits.first.name %></h4>
                 <div class="activityList">
                   <div class="text">
                    <h3> Activities </h3>
                    <p> hiking </p>
                    <p> Cross country skiing </p>
                    <p> Coffee/Tea </p>
                    <p> Drinks </p>
                    <p> Comedy Club </p>
                    <p> Going to the gym </p>
                    <img src='<%=path%>'>
                    <p class="message"><%=link_to 'Message ' + match.name, chat_path(match.id) %> </p>
                  </div>
                 </div>
            </div>
          <%end%>
        <%end%>
  </div>
</div>

</div>
