<div class="profileWrapper">
<div class="inner">
    <div class="typeWrapper">

       <% assessment = @assessment.personality_types.first %>
       <% trait = @traits.first %>
       <img src='<%= assessment.personality_type.badge.image_large %>'>
       <h2> Personality Type </h2>
       <h3><%= assessment.personality_type.name %></h3>
       <h4><%= assessment.score %></h4>
       <h4><%= assessment.personality_type.description %></h4>

       <h4> Famous person with same personality - <%= assessment.personality_type.famous_people.first.name %></h4>

       <h2> Personality Trait </h2>
       <h3> <%= trait.personality_trait.name%>  </h3>
       <h4> <%= trait.score%> </h4>
       <h4> <%= trait.personality_trait.definition%> </h4>
       <h4> <%= trait.personality_trait.description%> </h4>
    </div>

    <div class="activityWrapper">
      <h2>Your Activities </h2>

        <section title=".squaredTwo">
    <!-- .squaredTwo -->
          <div class="squaredTwo">
            <label for="squaredTwo">Hiking</label>
            <input type="checkbox" value="None" id="squaredTwo" name="check" checked />
          </div>
           <div class="squaredTwo">
            <label for="squaredTwo">Mountain Climbing</label>
            <input type="checkbox" value="None" id="squaredTwo" name="check" checked />
          </div>
           <div class="squaredTwo">
            <label for="squaredTwo">Tennis</label>
            <input type="checkbox" value="None" id="squaredTwo" name="check" checked />
          </div>
           <div class="squaredTwo">
            <label for="squaredTwo">Coffee</label>
            <input type="checkbox" value="None" id="squaredTwo" name="check" checked />
          </div>
          <div class="squaredTwo">
            <label for="squaredTwo">Chess</label>
            <input type="checkbox" value="None" id="squaredTwo" name="check" checked />
          </div>
          <div class="squaredTwo">
            <label for="squaredTwo">Go for drinks</label>
            <input type="checkbox" value="None" id="squaredTwo" name="check" checked />
          </div>
          <div class="squaredTwo">
            <label for="squaredTwo">Movies</label>
            <input type="checkbox" value="None" id="squaredTwo" name="check" checked />
          </div>
          <div class="squaredTwo">
            <label for="squaredTwo">Comedy Club </label>
            <input type="checkbox" value="None" id="squaredTwo" name="check" checked />
          </div>
          <div class="squaredTwo">
            <label for="squaredTwo">Board Games</label>
            <input type="checkbox" value="None" id="squaredTwo" name="check" checked />
          </div>
          <div class="squaredTwo">
            <label for="squaredTwo">dinner</label>
            <input type="checkbox" value="None" id="squaredTwo" name="check" checked />
          </div>
    <!-- end .squaredTwo -->
      </section>



    </div>
  </div>

  <div class="matchesWrapper">

      <h2> Matches </h2>
        <div class="matchesInner">
        <% if @matches %>
        <% @matches.each do |match| %>
          <h3><%=match.name%></h3>
          <img src='<%=@traitify.find_results(match.personality).personality_types.first.personality_type.badge.image_small%>'>
        <%end%>
      <%end%>
      </div>
    </div>


</div>

