<nav class="<%= yield :nav_assessment_class %>" >

  <%= link_to image_tag("whiteLogo.png"), root_path %>

  <div class="links">
  <% if session[:user_id] %>
  <%= link_to 'Profile', profile_index_path%>
  <%= link_to 'Logout', login_path(session[:user_id]), method: :delete %>
  <%else%>
  <%= link_to 'Login', login_index_path %>
  <%end%>
  </div>
</nav>


